.pagination{
    clear:both; margin-top:15px;
}

ul.paging{
    margin:0px; padding:0px; list-style:none;float:right;
}

ul.paging li{
    margin:0px; padding:0px;float:left;list-style:none;
}

ul.paging li a{
    float:left; padding:0px 5px 0px; margin-right:5px;/* border:solid 1px #999*/;
    text-decoration:none; background:#0271A8; color:#ccc;
}

ul.paging li.paging-active a, ul.paging li a:hover{
    background:#900; color:#FFFFFF;
}

ul.paging li.paging-disabled a, ul.paging li.paging-disabled a:hover{
    cursor:default; background:#FFFFFF; /*border:solid 1px #BBBBBB;*/color:#BBBBBB;
}

ul.paging li.paging-current{
    padding:3px; margin-right:5px; /*border:solid 1px #999*/;background:#fff;
    color:#000;
	 font:bold 11px Arial, Helvetica, sans-serif;
}