/*h2 { text-align:center; font:normal 150% Georgia; }*/
#sliderContent { /*width:650px; margin:auto; padding:0 50px 50px; background-color:#ebebeb; border:1px solid #898989;*/ }
.viewer { width:659px; /*height:343px; margin:0 auto 40px;*/ padding:1px; overflow:hidden; position:relative;/* border:1px solid #898989;*/ }
.content-conveyor { width:610px; height:335px; position:relative; }
.item { width:220px; float:left; font-family:Tahoma; text-align:center;/* background-color:#ebebeb;*/ position:relative; }
.item h2 { font-size:100%; margin:10px 0; }
.item dl { margin:10px 0; }
.item dt, .item dd { float:left; width:149px; text-align:right; margin:0; font-size:70%; }
.item dt { font-weight:bold; margin-right:5px; }
.item dd { text-align:left; }
.item img { border:1px solid #898989; background-color:#ffffff; padding:1px; }


.item h5{ font:bold 12px/25px Arial, Helvetica, sans-serif; background:#900; width:203px; color:#fff; margin:0 0 0 9px; position:absolute; left:0; top:129px;  filter: alpha(opacity=50); pacity: 0.5;

}

.item h5 a{ color:#fff; }

.item h5 a:hover{ color:#a2d36c; text-decoration:none; }