@charset "utf-8";
/* CSS Document */

body{ margin:0; padding:0; font:12px/18px Arial; background:#CCCCCC; text-align:justify; }
html, div, h1, h2, h3, h4, h5, h6, p, span, ul, li{ margin:0; padding:0;}
img{ border:none; padding-top: 0px;}
div{ text-align:left;}
a:focus{ outline:none;}
.clear{ clear:both;}
a{ text-decoration:none; color:#bc2d23;}
a:hover{ text-decoration:underline; color:#4E6D1F;}
.imgL{ float:left; margin:0 10px 0 0;}


h2{border-bottom: 1px solid #7ED1D9;
   color: #881C12;
   font: 18px/30px Arial;}
h4{   color: #046592;
      font: bold 12px/18px Arial;}

.wrapper{ width:960px; margin:0 auto; background: #fff;}
.header{float: left; width: 960px; border-bottom: 1px solid #fff; background: url("../images/header-bg.jpg") no-repeat; margin-bottom:15px; }
.search{ width:/*235px*/ 101px; padding-bottom: 20px; float: right; padding: 7px 0px 7px 13px; font: bold 13px Arial, Helvetica, sans-serif; color:#fff; background:url(../images/languagebg.png) no-repeat; height:21px;}
.search a{color:#fff;}

.logo{float: left;}
.logo h1{float: left;}
.logo h1 a{padding: 6px 0p 10px 16px; width: 582px; height: 99px; /*background: url("../images/logo.gif") no-repeat scroll 15px 20px transparent; */display:block;}
.logo h1 a span{display:none}
.flag{width: 60px; height: 70px; float: right; padding: 0px 6px 0 0;}
.bodypart{padding:5px; float: left;}
.leftpart{ float: left; width: 200px; padding: 10px;}
.rightpart{ float: left; padding: 10px;}

.pm-profile {background: url("../images/pm-profile-bg.jpg") repeat scroll 0 0 transparent;height: auto;margin-bottom: 20px;overflow: auto;  padding-bottom: 10px;width: 235px;}
.pm-profile img{float: right; padding-right: 10px; padding-top: 11px; width: 88px;height: 95px;}
.pm-profile h4{font:bold 12px/18px Arial; color:#ead459; padding: 15px 0 0 15px;}
.pm-profile span{font:12px/18px Arial; color:#fff; padding-left: 15px;}
.pm-profile input{margin-left: 15px;margin-top: 15px;}


.multimedia-box { background: none repeat scroll 0 0 #EBEBEB; border: 1px solid #CCCCCC; display: inline; float: left; height: 150px; margin: 0 10px 10px 0; overflow: hidden; padding: 5px; width: 224px;}
.postDate{font: bold 9px/18px Arial; color: #666;}

.redtitle{font: bold 12px/16px Arial;}

.audio-box{width: 730px;}
.audio-box ul{}
.audio-box ul li{list-style: square; margin-left: 25px;}
.audio-box ul li a{color: #0887DB;}

.top-nav{height:35px; width: 960px; float:left; background: url("../images/nav-bg.jpg") repeat-x;border-top: 1px solid #fff; /* background:#0478A9;*/}


.animation{width: 455px; height: 261px; float: left;}

.accordian-menu{float: left; width: 200px;}
.accordian-menu h2{font: 14px/18px Arial; color: #fff; background: url(../images/accordian-menu-bg.gif) repeat-x; display: block; /*padding: 8px 20px; */padding-left: 15px;}
.accordian-menu h2 a{/*background: url("../images/arrow.png") no-repeat scroll 0 5px transparent; */color: #FFFFFF; padding-left: 10px;}
.box{background: #F6F6F5; border-left: 1px solid #ccc; border-right: 1px solid #ccc;}
.box ul{}
.box ul li{background: url(../images/accordian-list.gif) 5px 8px no-repeat; padding-left: 20px; list-style: none;}
.box ul li a{font: 11px/16px Arial; color: #3368aa;}

.breadcum{float: right; padding: 10px 10px 0 0; font: 11px/14px Arial;}
.innerbody{width: 710px; float: left; font: 12px/18px Arial;}
.innerbody h2{font: bold 16px/30px Arial; color: #38566B; width:710px; border-bottom: 1px solid #38566B;}
.innerbody p{margin-bottom:10px;}
.innerbody img{margin:0 0 5px 5px; background:#eee; }
.centerbody{width: 455px; float: left;}

.press-release{ margin: 20px 0;}
.press-release h2{font: 18px/30px Arial; color: #881c12; border-bottom: 1px solid #7ed1d9;}
.press-release ul li{padding: 5px 0; border-bottom: 1px solid #7ed1d9; overflow:hidden; width:100%;}
.press-release ul li b a{font: bold 12px/18px Arial; color: #0478a9;}

.press-release1{ margin: 0;}
.press-release1 h2{font: 18px/30px Arial; color: #881c12; border-bottom: 1px solid #7ed1d9;}
.press-release1 ul li{padding: 5px 0; border-bottom: 1px solid #7ed1d9; overflow:hidden; width:100%;}
.press-release1 ul li b a{font: bold 12px/18px Arial; color: #0478a9;}

#photogallery{width: 235px;float: left; overflow: hidden; height:200Px;
}
#photogallery h2{background: #396949; font: bold 13px/20px Tahoma; padding: 4px 8px;}

#quick-links{clear: both;}
#quick-links h2{background: #006699; font: bold 13px/20px Tahoma; padding: 4px 8px; color:#fff;}


#quick-links1{
clear: both;
background: url(../images/facebook_bg.jpg);
padding:10px 0px 28px 23px;
border: 1px solid #eee;
}

.linkbox{border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; border-right: 1px solid #ccc; margin-bottom: 20px;}
.linkbox ul li{border-bottom: 1px dotted #ccc; padding: 5px 10px;}
.linkbox ul li a{font: 11px/16px Arial; color: #1b522d;}


.right-content{width: 235px; float:left; padding-left:20px;}
.right-content h2{font: bold 16px/30px Arial; color: #fff; background: url(../images/sideh2.gif) repeat-x; padding-left:10px;}
.photobox{border-bottom: 1px solid #707070; border-left: 1px solid #707070; border-right: 1px solid #707070; margin-bottom: 20px; height:138px; overflow:hidden;}
.photo-warning{border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; margin-bottom: 20px; height:30px;}
.poll{border-bottom: 1px solid #cccccc; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; margin-bottom: 20px; background:#efefef; padding:10px; font: 13px/15px Arial; color:#3368aa;}

.buttons img{padding: 0 12px;}

.footer{ width:930px; margin:0 auto; padding:18px 15px 0; clear: both; background: url("../images/body-bg.jpg") repeat; height:47px; border-top: 4px solid #96b3cd;}
.footer-left{ width:400px; color:#fff; font:16px/16px Arial, Helvetica, sans-serif; float: left; color:#38708b; padding: -25px;}
.footer-left a{ font:11px/16px Arial, Helvetica, sans-serif; color:#38708b; text-decoration:none; }
.footer-left a:hover{ text-decoration:underline;}
.footer-right{ width:230px; color:#666666; font:11px/16px Arial, Helvetica, sans-serif; float:right; text-align:right;}



.dataTable{border-collapse:collapse;width:100%;text-indent:4px; margin:0; padding: 0px; border: 1px #D6E3C6 solid; margin-bottom:10px;}
.dataTable tr.rowtitle td{color: #fff;background:#0478A9;font-weight:bold;padding:5px;border:1px solid #DFDFDF;}
.dataTable tr.rowtitle td a{color: #fff;}
.dataTable tr.row td{background: #F2F2F2;border-top: 1px #fff solid; border-bottom: 1px #ccc solid;padding:5px !important;}
.dataTable tr.row1 td{padding:5px;border:1px solid #DFDFDF;}
.dataTable tr.row2 td{padding:5px;border:1px solid #DFDFDF;background: #F2F2F2;}

.graylink{padding: 5px 0; color: #333333; font-size: 0.9em;}


/*Photo Gallery*/
.gallery-archive{/*width: 730px;*/}
.gallery-archive ul li{ /*background: none repeat scroll 0 0 #EAF3FA; border: 1px solid #CED9E1;*/ height:90px; float: left; /*margin: 0 7px 7px; _margin: 0 13px 20px;*/ overflow: hidden; padding: 5px;}
.gallery-archive ul li img{/*position:absolute; clip:rect(0px,150px,90px,0px);*/ overflow:hidden;}

#usefullinks li{margin-left: 15px;;}
#usefullinks li{list-style: circle;}
#usefullinks a{color: #0887DB}

.imgR{float: right; padding: 5px;}
small{color: #333; font: 11px/15px Arial; padding: 10px 0}
.view{color: #306FA7; font: 11px/18px Arial;}

#article-archive{float: left; width: 745px; border-bottom: 1px dotted #ccc; padding: 10px 0;}

.dept-box{ border-right: 1px solid #CCCCCC; float: left; margin: 0 10px 20px 0; min-height: 202px; padding-right: 10px; width: 224px;}
.dept-box h3 a{font: 16px/22px Arial; background:#6E3721; color: #fff; display:block; padding:5px 10px; }
.dept-box ul{padding: 10px; margin:0px;}
.dept-box ul li{list-style: circle; margin-left:10px;}
.dept-box ul li a{color: #3368AA; font:12px/18px Arial, Helvetica, sans-serif;}

#profile{float: left; width: 518px;}
#profile h3{font: bold 13px/20px Arial; color: #AE2413;}
#profile ul{padding: 5px;}
#profile ul li{margin-left: 15px; list-style: circle; padding: 1px;}

#division-page{float: left; width: 519px; margin-right: 10px; padding-right: 10px; border-right:1px solid #ccc;}
#division-page h3{font: bold 13px/20px Arial; color: #38566B;}

#right-nav{float: left; width:200px;}
#right-nav h3{font: bold 13px/20px Arial; color: #AE2413;}
#right-nav ul{margin-left: 15px;}
#right-nav ul li{list-style: circle; padding: 2px;}
#right-nav ul li a{color: #3368aa;}

.division-news{margin-bottom: 20px; float:left; width:518px;}
.division-news ul{padding: 5px 10px; float: left;}
.division-news ul li{list-style: none; padding-bottom: 10px; padding-top: 10px; border-bottom: 1px dotted #ccc; color:#666; font: 11px/15px Arial; float: left; width: 498px;}
.division-news ul li h4 a{font: bold 14px/18px Arial; color:#3368aa;}
.division-news ul li img{float:left; padding-right:5px;}
.division-news ul li small{font: italic 10px/14px Arial; color: #666;}


.profile-pic{padding: 3px; background: #eee; border: 1px solid #ccc; width:150px; float:left; margin-right:15px;}
.right-info{float: right; border: 1px solid #ccc; padding: 10px; width: 200px; background: #f0f0f0;}

.menu-inside{display: block;}
.menu-inside ul{margin: 0; padding: 0; margin-left: 0px !important;}
.menu-inside ul li{list-style: none !important; padding: 0px !important;}
.menu-inside ul li a{padding-left: 10px !important; display: block; height: 20px; padding: 5px; border-bottom: 1px solid #CCC; font-weight: bold;}
.menu-inside ul li a:hover{text-decoration: none; color: #9D1F17 !important;}


.slideshow { height: 265px; width: 440px; margin: auto; float: left; margin-bottom: 5px;}
.slide .caption {background: #000000; color: #ff0000; font-size: 16px; font-weight: bold; padding: 10px 10px 0 10px; position: absolute; display: block; float: left; bottom: 0; width: 430px; height: 30px; filter : alpha(opacity=80); /* IE */ -moz-opacity: 0.7; /* Mozilla */ opacity: 0.7; z-index:100;}



.submit-btn, .submit-btn a { background:#9E2014; font: bold 12px Arial, Helvetica, sans-serif; color:#fff; border: 2px solid #C02518;}

.gallery-slideshow{}
.pagination-slide{ float: right; padding: 15px 10px 0 11%; position: relative; top: -3em;}
.pagination-slide .prv{background:url(http://localhost/dlsofront/upload/images/images.jpg) no-repeat; width:7px; height:10px; padding:0 2px}
.pagination-slide .nxt{background:url(http://localhost/dlsofront/upload/prvbtn.jpg) no-repeat; width:7px; height:10px;}
.pagination-slide ul li{float:left;}
.pagination-slide ul{ text-align:center; }
.pagination-slide ul li a{ text-indent:-9999px; float:left;}
#pager-nav  a { margin: 0 5px; padding: 3px 5px; border: 1px solid #ccc; background: #cff; text-decoration: none }
#pager-nav  a.activeSlide { background:url(../images/slide-active.jpg) no-repeat; width:7px; height:10px; border:none; margin:0; padding:0 2px;}
#pager-nav  a:focus { outline: none; }
#pager-nav a{background:url(../images/slide-inactive.jpg) no-repeat; width:7px; height:10px; border:none; margin:0; padding:0 2px;}
/**  hight light block **/
.hightlight_block{
	width:930px;
	margin:0 17px;
	height:23px;
	clear:both;
	background:#ddd;
	background:#eae8e9 url('../images/heightlight-bg.jpg') no-repeat right 0;
	padding:0;
	color:#fff;
}
.hightlight_block span{
	background:url('../images/heightlight.jpg') no-repeat left 0;
    display: block;
    float: left;
    font-weight: bold;
    height: 21px;
    margin-right: 15px;
    padding: 2px 0 0 10px;
    text-transform: uppercase;
    width: 93px;
}
.hightlight_block marquee{
	width:790px;
	display:block;
	float:left;
	padding-top:1px;
	color: #333;
}
.hightlight_block a{
	color:#333;
	text-decoration:none;
}
.hightlight_block a:hover{
	color:#000;
	font-weight:bold;
}
/** cms block table **/
.cms-block table{
	width:100% !important;
	border:0 !important;
	border-left: 1px solid #ccc !important;
	border-top: 1px solid #ccc !important;

}
.cms-block table tr:first-child{
	background: none repeat scroll 0 0 #0478A9;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px;
}
.cms-block table tr td {
	border:none;
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	padding:5px 5px 0;

}

.bor li {
	border-bottom: 1px solid #7ED1D9;
	padding-bottom:10px;
	list-style-position:outside;

}

#GalleryClip {
	height: 140px;
	width: 140px;
	float: left;
	font-weight: normal;
	text-align: center;
	margin-top: 15px;
	font-size: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 5px;
	padding-right: 15px;
	padding-bottom: 5px;
	vertical-align: text-bottom;
}