/*** ESSENTIAL STYLES ***/
.sf-menu-1, .sf-menu-1 * {
	margin:			0;
	padding:		0;
	list-style:		none;
        z-index: 9999;
}
.sf-menu-1 {
	line-height:	1.0;
}
.sf-menu-1 ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu-1 ul li {
	width:			100%;
}
.sf-menu-1 li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu-1 li {
	float:			left;
	position:		relative;
}
.sf-menu-1 a {
	display:		block;
	position:		relative;
}
.sf-menu-1 li:hover ul,
.sf-menu-1 li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu-1 li:hover li ul,
ul.sf-menu-1 li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu-1 li li:hover ul,
ul.sf-menu-1 li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu-1 li li:hover li ul,
ul.sf-menu-1 li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu-1 li li li:hover ul,
ul.sf-menu-1 li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu-1 {
	float:			left;
	margin-bottom:	1em;
}
.sf-menu-1 a {
	/*border-left:	1px solid #fff;
	border-top:		1px solid #CFDEFF;*/
	padding: 		.75em 1em;
	text-decoration:none;
}
.sf-menu-1 a, .sf-menu-1 a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#fff;
}
.sf-menu-1 li {
	background:url('../../../images/sidemenu-bg.gif') repeat-x 0 0;
}
.sf-menu-1 li li {
	background:url('../../../images/sidemenu-bg.gif') repeat-x 0 0;
}
.sf-menu-1 li li li {
	background:url('../../../images/sidemenu-bg.gif') repeat-x 0 0;
}
.sf-menu-1 li:hover, .sf-menu-1 li.sfHover,
.sf-menu-1 a:focus, .sf-menu-1 a:hover, .sf-menu-1 a:active {
	background:		url('../../../images/sidemenu-bg.gif') repeat-x 0 -70px;
	outline:		0;
}

/*** arrows **/
.sf-menu-1 a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.gif') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu-1 ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu-1 ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu-1 ul a:focus > .sf-sub-indicator,
.sf-menu-1 ul a:hover > .sf-sub-indicator,
.sf-menu-1 ul a:active > .sf-sub-indicator,
.sf-menu-1 ul li:hover > a > .sf-sub-indicator,
.sf-menu-1 ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}

/*** shadows for all but IE6 ***/
.sf-shadow ul {
	background:	url('../images/shadow.png') no-repeat bottom right;
	padding: 0 8px 9px 0;
	-moz-border-radius-bottomleft: 17px;
	-moz-border-radius-topright: 17px;
	-webkit-border-top-right-radius: 17px;
	-webkit-border-bottom-left-radius: 17px;
}
.sf-shadow ul.sf-shadow-off {
	background: transparent;
}
